handle double-quoted cookie value

according to rfc6265  (http://tools.ietf.org/html/rfc6265#section-4.1.1),
cookie-value can be double quoted.

```
set-cookie-header = "Set-Cookie:" SP set-cookie-string
set-cookie-string = cookie-pair *( ";" SP cookie-av )
cookie-pair       = cookie-name "=" cookie-value
cookie-name       = token
cookie-value      = *cookie-octet / ( DQUOTE *cookie-octet DQUOTE )
cookie-octet      = %x21 / %x23-2B / %x2D-3A / %x3C-5B / %x5D-7E
                   ; US-ASCII characters excluding CTLs,
                   ; whitespace DQUOTE, comma, semicolon,
                   ; and backslash
token             = <token, defined in [RFC2616], Section 2.2>
```

When a server send a cookie:

```
< Set-Cookie: foo="MTYyODNlMTc1ODIyNTA4NGMzMDg4N2RhNDg0NTZjZmQxMDJiNA==";Path=/;Expires=Mon, 19-May-2014 10:32:57 GMT
```

my brower (Chrome) got:

```
var foo = Cookies.get('foo')
// foo == '"MTYyODNlMTc1ODIyNTA4NGMzMDg4N2RhNDg0NTZjZmQxMDJiNA=="'
```

which is unexpected.
